#image{
    text-align: center;
    border: 7px double;
    border-color: green;
    box-sizing: border-box;
   display: inline-block ;
    margin-left: 410px;
}
#image img {
    display: ruby-base; 
}
#legend{
    margin-left: 407px;
}

body{
    border: solid;
    border-color: red;
    background-color: darkorange;
}

h1{
    text-align: center;
}

#info{
    text-align: center;
    border: 7px dotted darkgreen;
    background-color: blueviolet;
    border-radius: 15px;
    color: white;
    padding: -30px;
    width: 80%;
    margin: auto;    
}

.corps{
    margin-left: 100px;
}